<div class="flex flex-col gap-4">

  @if (loading()) {
    <div class="flex justify-center py-16">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  } @else if (notFound()) {
    <div class="text-center py-16 text-base-content/50">
      <p class="text-lg">{{ 'media_detail.not_found' | translate }}</p>
    </div>
  } @else if (media(); as m) {
    <div class="flex flex-col gap-6">
      <app-media-detail-header
        [media]="m"
        [backRoute]="['/', backSegment()]"
        [canEditProfiles]="canEditProfiles()"
        [isAdmin]="isAdmin()"
        [refreshLoading]="refreshLoading()"
        [monitoredLoading]="monitoredLoading()"
        [deleteLoading]="deleteLoading()"
        [files]="mediaFiles()"
        [selectedFileId]="selectedFileId()"
        [canGrab]="canGrab()"
        [releasesLoading]="releasesLoading()"
        [grabBusy]="grabBusy()"
        (openProfiles)="openProfilesModal()"
        (openRootFolder)="openRootFolderModal()"
        (refreshMetadata)="refreshMetadata()"
        (toggleMonitored)="toggleMonitored()"
        (deleteMedia)="deleteMedia()"
        (selectedFileIdChange)="selectedFileId.set($event)"
        (loadReleases)="loadReleases()"
        (grabBest)="grabBest()"
        (deleteFile)="deleteFile($event.fileId, $event.deleteOnDisk)"
        (rescanFiles)="rescanFiles()"
      />

      <app-media-detail-library-info [media]="m" />

      @if (m.type === 'movie') {
        <app-media-detail-subtitles
          [subtitles]="selectedFileSubtitles()"
          [requiredLanguages]="requiredSubtitleLangs()"
          [subtitlesLoading]="subtitlesLoading()"
          [canGrab]="canGrab()"
          [subtitleActionBusy]="subtitleActionBusy()"
          (openSubtitleSearch)="openSubtitleSearch()"
          (autoSubtitle)="autoSubtitle()"
          (syncSubtitle)="syncSubtitle($event)"
          (deleteSubtitle)="deleteSubtitle($event)"
          (postProcess)="postProcessSubtitle($event)"
          (blacklistSubtitle)="blacklistSubtitle($event)"
        />
      }

      @if (activeFile(); as af) {
        <app-media-file-info [file]="af" />
      }

      @if (m.type === 'series' && m.seasons?.length) {
        <app-media-detail-seasons
          [media]="m"
          [selectedSeason]="activeSeason(m)"
          [activeSeasonId]="activeSeasonId()"
          [episodesHasFileOnly]="episodesHasFileOnly()"
          [filteredEpisodes]="activeSeason(m) ? filteredSeasonEpisodes(activeSeason(m)!) : []"
          [seasonReleasesLoading]="seasonReleasesLoading()"
          [seasonReleasesOpenId]="seasonReleasesOpen()"
          [seasonGrabBusy]="seasonGrabBusy()"
          [seasonBusyId]="seasonBusy()"
          [canGrab]="canGrab()"
          [isAdmin]="isAdmin()"
          (selectSeason)="selectSeason($event)"
          (episodesHasFileOnlyChange)="setEpisodesHasFileOnly($event)"
          (loadSeasonReleases)="loadSeasonReleases(m.id, $event)"
          (grabSeason)="grabSeasonAuto(m.id, $event)"
          (toggleSeasonMonitored)="toggleSeasonMonitored($event)"
        />
      }

      <app-media-detail-movie-download
        [media]="m"
        [showUpgradeSection]="m.type === 'movie' && !!m.files?.length && !!m.qualityProfile?.upgradeAllowed"
        [showDownloadSection]="m.type === 'movie'"
        [canGrab]="canGrab()"
        [upgradeReleasesLoading]="upgradeReleasesLoading()"
        [upgradeGrabBusy]="upgradeGrabBusy()"
        [releasesLoading]="releasesLoading()"
        [grabBusy]="grabBusy()"
        (loadUpgradeReleases)="loadUpgradeReleases()"
        (grabUpgradeBest)="grabUpgradeBest()"
        (loadReleases)="loadReleases()"
        (grabBest)="grabBest()"
      />
    </div>

    <!-- Modals (outside gap container to avoid spacing) -->
     <div>
        <app-media-detail-subtitle-search-modal
        [subSearchLang]="subSearchLang()"
        (subSearchLangChange)="subSearchLang.set($event)"
        [subSearchLoading]="subSearchLoading()"
        [subSearchSearched]="subSearchSearched()"
        [subSearchResults]="subSearchResults()"
        [subtitleActionBusy]="subtitleActionBusy()"
        (search)="searchSubtitles()"
        (download)="downloadSearchResult($event)"
      />

      <app-releases-modal #movieReleasesModal
        [title]="'media_detail.download_section' | translate"
        [releases]="releases()"
        [loading]="releasesLoading()"
        [searched]="releasesSearched()"
        [error]="releasesError()"
        [grabBusy]="grabBusy()"
        [grabState]="grabState()"
        [canGrab]="canGrab()"
        [showSearch]="true"
        [customSearchQuery]="customSearchQuery()"
        (customSearchQueryChange)="customSearchQuery.set($event)"
        grabPrefix="r"
        (grab)="grabRelease($event.release, $event.index)"
      />

      <app-releases-modal #upgradeReleasesModal
        [title]="'media_detail.upgrade_section' | translate"
        [releases]="upgradeReleases()"
        [loading]="upgradeReleasesLoading()"
        [searched]="upgradeReleasesSearched()"
        [error]="upgradeReleasesError()"
        [grabBusy]="upgradeGrabBusy()"
        [grabState]="upgradeGrabState()"
        [canGrab]="canGrab()"
        grabPrefix="u"
        (grab)="grabUpgradeRelease($event.release, $event.index)"
      />

      <app-releases-modal #episodeReleasesModal
        [title]="'media_detail.ep_releases_title' | translate"
        [releases]="epReleases()"
        [loading]="epReleasesLoading()"
        [searched]="epReleasesSearched()"
        [error]="epReleasesError()"
        [grabBusy]="epGrabBusy()"
        [grabState]="epGrabState()"
        [canGrab]="canGrab()"
        grabPrefix="ep"
        (grab)="grabEpisodeRelease(m.id, selectedEpisodeId()!, $event.release, $event.index)"
      />

      <app-releases-modal #seasonReleasesModal
        [title]="'media_detail.season_packs_title' | translate"
        [releases]="seasonReleases()"
        [loading]="seasonReleasesLoading()"
        [searched]="true"
        [error]="seasonReleasesError()"
        [grabBusy]="seasonGrabBusy()"
        [grabState]="seasonReleaseGrabState()"
        [showCfScore]="false"
        grabPrefix="s"
        (grab)="onGrabSeasonReleaseFromModal(m.id, $event.release, $event.index)"
      />

      <app-media-detail-profiles-modal
        [profilesOptionsLoading]="profilesOptionsLoading()"
        [draftQualityProfileId]="draftQualityProfileId()"
        [draftLanguageProfileId]="draftLanguageProfileId()"
        [qualityProfileOptions]="qualityProfileOptions()"
        [languageProfileOptions]="languageProfileOptions()"
        [profilesOk]="profilesOk()"
        [profilesErr]="profilesErr()"
        [profilesSaveLoading]="profilesSaveLoading()"
        (draftQualityProfileIdChange)="draftQualityProfileId.set($event)"
        (draftLanguageProfileIdChange)="draftLanguageProfileId.set($event)"
        (save)="saveProfiles()"
      />

      <app-media-detail-root-folder-modal
        [rootFolders]="rootFolders()"
        [selectedRootFolderId]="selectedRootFolderId()"
        [pathSaving]="pathSaving()"
        [pathOk]="pathOk()"
        (selectedRootFolderIdChange)="selectedRootFolderId.set($event)"
        (save)="saveRootFolder()"
      />
    </div>
   
  }
</div>
