<app-media-detail-subtitles
  [subtitles]="filteredSubtitles()"
  [requiredLanguages]="requiredSubtitleLangs()"
  [subtitlesLoading]="subtitlesLoading()"
  [searchDisabled]="searchDisabled()"
  [canGrab]="canGrab()"
  [subtitleActionBusy]="subtitleActionBusy()"
  (openSubtitleSearch)="openSubtitleSearch()"
  (autoSubtitle)="autoSubtitle()"
  (syncSubtitle)="syncSubtitle($event)"
  (deleteSubtitle)="deleteSubtitle($event)"
  (postProcess)="postProcessSubtitle($event)"
  (blacklistSubtitle)="blacklistSubtitle($event)"
/>

<app-media-detail-subtitle-search-modal
  [subSearchLang]="subSearchLang()"
  (subSearchLangChange)="subSearchLang.set($event)"
  [subSearchLoading]="subSearchLoading()"
  [subSearchSearched]="subSearchSearched()"
  [subSearchResults]="subSearchResults()"
  [subtitleActionBusy]="subtitleActionBusy()"
  (search)="searchSubtitles()"
  (download)="downloadSearchResult($event)"
/>
