<app-settings-drawer
  [title]="'admin.title' | translate"
  [backLabel]="'admin.back_to_app' | translate"
  drawerId="admin-sidebar"
>
  <svg drawerIcon lucideShield class="h-5 w-5"></svg>

  <ng-container drawerMenu>
    @for (section of sections(); track section.id; let i = $index) {
      <li class="menu-title text-xs uppercase tracking-wider" [class.mt-2]="i === 0" [class.mt-4]="i !== 0">{{ section.label | translate }}</li>
      @for (item of section.items; track item.id) {
        <li>
          <a [routerLink]="item.route" [class.menu-active]="activeItemId() === item.id">
            @if (item.icon) {
              <app-settings-icon [name]="item.icon" class="h-4 w-4" />
            }
            {{ item.labelKey | translate }}
          </a>
        </li>
      }
    }
  </ng-container>
</app-settings-drawer>
